:root{
    --primary-color: #38778C;
    --primary-color-accent: #2D6172;
    --primary-color-light: #81B6C7;

    --secondary-color: #EAB264;
    --secondary-color-light: #DFC197;
 

    --background-color: #fafafa;

    --main-font: monospace;
    --main-font-size: 16px;
    --main-font-weight: 400;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    grid-template-areas:
      "header"
      "content"
      "footer";

    margin: 0px;
    padding: 0px;

    height: 100vh;
    width: 100vw;
    
    background-color: var(--background-color, #fafafa);   

    font-size: var(--main-font-size, 16px);
    font-weight: var(--main-font-weight, 400);
}

header {
    grid-area: header;
    background-color: var(--background-color, #fafafa);

    padding: 15px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo navigation";

    border-bottom: 5px solid #f0f0f0;

}

section.content {
    grid-area: content;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;    
}

footer {
    grid-area: footer;
    background-color: var(--primary-color, #fafafa);
}

/*---------------------------GENERAL ELEMENTS-----------------------------*/
a {
    color: var(--primary-color, #38778C);
    text-decoration-line: none;
}

a:hover {
    color: var(--secondary-color, #EAB264);
}

h1 {
    color: var(--primary-color-accent, #2D6172);
}

/*---------------------------HEADER ELEMENTS-----------------------------*/
header div.logo {
    grid-area: logo;

    display: flex;
    justify-content: flex-end;
}

header div img#header-img {
    width: 250px;
    max-width: 100%;
    height: auto;
}

header nav#nav-bar{
    grid-area: navigation;

    padding-right: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav a.nav-link {
    font-weight: 500;
    padding: 10px;
}
